
.container {
  position: relative;
  top: 120px;
}

#tweet-text {
  border: none;
  border-bottom: 5px solid #4056A1;
  background: transparent;
  width: 100%;
}

#tweet-button {
  font-family: "Bungee";
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  border: none
}

.counter {
  font-family: "Bungee";
}

.counter-red {
  font-family: "Bungee";
  color: red;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
}


/* displayed-tweet header */
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-header .icon-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* diplayed-tweet footer */
.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.tweet-footer i {
  font-size: 12px;
}


/* displayed-tweet body */
.tweet-body {
  border-bottom: 5px solid #4056A1;
}

/* body of the displayed tweet */
.full-tweet {
  border: 5px solid #4056A1;
  margin-top: 1.5em;
  padding: 20px 20px 10px 20px;
}

.full-tweet:hover {
  box-shadow: 7px 8px 3px 2px rgba(0,0,0,0.24);
}

.fa-flag:hover {
  color: red;
}
.fa-retweet:hover {
  color:red;
}

.fa-heart:hover {
  color: red;
}
